.button {
  background-color: lightgreen; /* Green */
  border-radius: 8px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid black;
}
.backgroundcolor {
  background-color: powderblue
}
.fontsize {
  font-size: 20px;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.button:hover {
  background-color: #ddd;
  color: black;
}


h1 {
  margin: 30px;
  font-family: 'Lobster', serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #2ff567;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.input {
  width: 30%;
  height: 30%;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.buttonn {
  background-color: lightgreen; /* Green */
  border-radius: 8px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100px;
  border: 2px solid black;
}
